<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>User</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html">PHP Project</a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span>
                  <i class="fas fa-user-tag"></i>
                </span>
                User
              </a>
            </li>
            <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li> -->
          </ul>
          <!-- options
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul> -->
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <!--Form Clients-->
        <a href="area.html" class="badge badge-primary">
          <span>
            <i class="fas fa-chevron-circle-left"></i>
          </span> Volver</a>
        <br>
        <br>
        <div class="card">
          <h1 class="card-header" style="text-align: center;">User</h1>
          <div class="card-body">
            <form method="POST" action="Area.php">
              <div class="form">
                <div class="form-group">
                    <label for="lname">Código Área</label>
                    <input type="text" class="form-control" name="Cod" placeholder="Código Área" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="lname">Nombre</label>
                  <input type="text" class="form-control" name="Nombre" placeholder="Nombre" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="tele">Subárea</label>
                    <input type="text" class="form-control" name="subarea" placeholder="Subarea" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" name="Guardar" value="Guardar" class="btn btn-success btn-lg btn-block">
                      <span>
                        <i class="fas fa-user-plus"></i>
                      </span> Guardar</button>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" name="Consultar" value="Consultar" class="btn btn-primary btn-lg btn-block">
                      <span>
                        <i class="fas fa-search"></i>
                      </span> Consultar</button>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" name="update" value="update" class="btn btn-dark btn-lg btn-block">
                      <span>
                        <i class="fas fa-wrench"></i>
                      </span> update</button>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" name="delete" value="delete" class="btn btn-danger btn-lg btn-block">
                      <span>
                        <i class="fas fa-trash"></i>
                      </span> delete</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--end Form Clients-->
      </main>
    </div>
  </div>
  <!-- Bootstrap core JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>